*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
old/
mnist/

caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
VOC_data/
darknet
.fuse*
*.weights
backup/
run.sh

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
